/* ========= IMPORTS ========= */

/* NULL */
@import url("reset.css");

/* FONTS */
@import url("fonts.css");

/* ========= CSS STYLES ========= */
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #7d7d7d;
}
.page__container {
    position: relative;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

/* COMONN STYLES */
.label {
    color: #37393f;
    font-weight: 500;
    text-transform: capitalize;
}
.label::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #40ddb6;
    margin: 0 6px 1px 0;
    display: inline-block;
    transition: background-color 300ms ease 0s;
}
.label:hover::before {
    background-color: #009cf7;
}
/* HEADER */
.header {
    background-color: #3146ff;
    text-align: center;
    padding: 15px;
}
.header__list {
    display: flex;
    justify-content: center;
    row-gap: 10px;
    flex-wrap: wrap;
}
.header__item {
    display: inline-block;
    background-color: #87a5ff;
    padding: 7px 15px 5px;
    border-radius: 15px;
    color: #000;
    transition: background-color 200ms ease-in-out 0s;
}
.header__item:hover {
    background-color: #e2e2e2;
}
.header__item:not(:last-child) {
    margin-right: 20px;
}

/* BUSINESS */
.business {
    max-width: 703px;
    margin: 0 auto;
    padding: 50px 0;
}
.business__label:not(:last-child) {
    margin-bottom: 16px;
}
.business__title {
    color: #37393f;
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
    max-width: 414px;
    text-transform: capitalize;
}
.business__title:not(:last-child) {
    margin-bottom: 10px;
}
.business__text {
    line-height: 1.46;
}
.business__text:not(:last-child),
.business__list:not(:last-child) {
    margin-bottom: 48px;
}
.business__text p:not(:last-child) {
    margin-bottom: 15px;
}
.business__item {
    min-height: 28px;
    padding: 28px 38px;
    border: 1px solid #e3e3e3;
    margin-bottom: 31px;
    transition: background-color 300ms ease-in-out 0s;
}
.business__item:hover {
    background-color: #e1dcff;
}
.business__item:last-of-type {
    margin: 0;
}
.business__item-title::before {
    content: url("../img/business/arrow.png");
    margin-right: 19px;
}
.business__item-title {
    display: flex;
    align-items: center;
    color: #37393F;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
}
.business__item-title:not(:last-child) {
    margin-bottom: 12px;
}
.business__text-item {
    padding-left: 46px;
    line-height: 1.46;
}
.business__button {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #6b77e5;
    padding: 21px 35px;
    transition: background-color 300ms ease-in-out 0s, box-shadow 300ms ease-in-out 0s;
}
.business__button:hover,
.business__button:focus {
    background-color: #253bff;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.business__button:active {
    background-color: #101a72;
}

/* HOW */
.how {
    max-width: 1250px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}
.how__label:not(:last-child) {
    margin-bottom: 16px;
}
.how__title {
    color: #37393F;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
    text-transform: capitalize;
}
.how__title:not(:last-child) {
    margin-bottom: 77px;
}
.how__list {
    display: flex;
}
.how__item {
    min-width: 300px;
    flex: 0 1 33.333%;
    background-color: #f4f4f4;
    padding: 0 15px 58px 15px;
    margin-right: 31px;
}
.how__item:last-of-type {
    margin-right: 0;
}
.how__item::before {
    content: "";
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: inline-block;
    margin: -36px auto 22px auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 300ms ease 0s;
}
.how__item:hover::before {
    transform: scale(1.05);
}
.how__item--n1::before {
    background-image: url("../img/how/icon-01.jpg");
}
.how__item--n2::before {
    background-image: url("../img/how/icon-02.jpg");
}
.how__item--n3::before {
    background-image: url("../img/how/icon-03.jpg");
}
.how__item-title {
    color: #37393f;
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 600;
    line-height: 1.27;
}
.how__title-link {
    transition: color 300ms ease-in-out 0s;
}
.how__title-link:hover {
    color: #1f4fa7;
}
.how__item-title:not(:last-child) {
    margin-bottom: 16px;
}
.how__item-text {
    line-height: 1.46;
}
.how__item-text:not(:last-child){
    margin-bottom: 37px;
}
.how__item-link {
    color: #6b77e5;
    font-weight: 600;
}
.how__item-link:visited {
    color: #7d7d7d;
}
.how__item-link:hover {
    color: #253bff;
    text-decoration: underline;
}

/* MANAGEMENT & BENEFITS */
.management {
    max-width: 722px;
    padding: 50px 0;
    margin: 0 auto;
}
.management__image-wrap {
    display: flex;
    position: relative;
    max-width: 100%;
    min-height: 453px;
    transition: transform 300ms ease 0s;
}
.management__image-wrap:hover {
    transform: scale(1.005);
}
.management__image-wrap img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.management__image-wrap:not(:last-child) {
    margin-bottom: 37px;
}
.management__title {
    color: #37393F;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.27;
    text-transform: capitalize;
}
.management__title:not(:last-child) {
    margin-bottom: 4px;
}
.management__text {
    line-height: 1.46;
}
.management__text:not(:last-child) {
    margin-bottom: 42px;
}
.management__sub-title {
    color: #6b77e5;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.27;
}
.management__sub-title:not(:last-child) {
    margin-bottom: 12px;
}
.benefits {
    display: flex;
    align-items: center;
    gap: 29px;
}
.benefits:not(:last-child) {
    margin-bottom: 50px;
}
.benefits__part-left {
    flex: 1 1 50%;
}
.benefits__image-wrap {
    position: relative;
    width: 100%;
    min-height: 265px;
    transition: transform 300ms ease 0s;
}
.benefits__image-wrap:hover {
    transform: scale(1.005);
}
.benefits__image-wrap img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.benefits__part-right {
    flex: 1 1 50%;
}
.benefits__title {
    color: #37393f;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.27;
}
.benefits__title:not(:last-child) {
    margin-bottom: 15px;
}
.benefits__sub-title {
    color: #40ddb6;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.27;
}
.benefits__sub-title:not(:last-child) {
    margin-bottom: 21px;
}
.benefits__item {
    display: flex;
    align-items: center;
    min-height: 27px;
}
.benefits__item:not(:last-child) {
    margin-bottom: 35px;
}
.benefits__item::before {
    content: "";
    width: 27px;
    height: 27px;
    background-image: url("../img/management/icon.jpg");
    background-repeat: no-repeat;
    margin-right: 8px;
    display: inline-block;
}

/* JEWELS */
.jewels {
    font-family: "Cormorant Infant", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    display: flex;
    gap: 55px;
    max-width: 1244px;
    min-height: 674px;
    margin: 0 auto;
    padding: 50px 0;
}
.jewels__part-left {
    display: flex;
    flex: 0 1 40%;
    gap: 13px;
    align-items: center;
    padding: 40px 0;
}
.jewels__title {
    color: #000;
    font-size: 60px;
    line-height: 1.15;
    text-transform: capitalize;
}
.jewels__title::after {
    content: "";
    width: 62%;
    height: 3px;
    background-color: #78473b;
    display: inline-block;
    margin-bottom: 40px;
}
.first-column {
    flex: 0 1 334px;
    padding-top: 41px;
    display: inline-block;
    align-self: flex-start;
    transition: transform 300ms ease-in-out 0s;
}
.first-column:visited {
    color: #3a3a3a;
}
.first-column:hover .first-column__image::before,
.two-column:hover .two-column__image::before {
    border: 1px solid #cecece;
}
.first-column__image {
    position: relative;
    max-width: 334px;
    width: 100%;
    min-height: 381px;
}
.first-column__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.first-column__image:not(:last-child) {
    margin-bottom: 25px;
}
.first-column__image::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    z-index: -1;
    transition: border 300ms ease 0s;
}
.first-column__title {
    line-height: 1.4;
}
.first-column__title:not(:last-child) {
    margin-bottom: 4px;
}
.first-column__price {
font-size: 24px;
line-height: 1.4;
}
.jewels__part-right {
    display: flex;
    gap: 55px;
}
.two-column__wrap {
    display: flex;
    flex: 0 1 334px;
    flex-direction: column;
}.two-column {
    display: inline-block;
}

.two-column:visited {
    color: #3a3a3a;
}
.two-column__big-title {
    font-size: 46px;
    line-height: 1.13;
}
.two-column__big-title:not(:last-child) {
    margin-bottom: 40px;
}
.two-column__image {
    position: relative;
    max-width: 334px;
    width: 100%;
    min-height: 381px;
}
.two-column__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.two-column__image:not(:last-child) {
    margin-bottom: 25px;
}
.two-column__image::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    z-index: -1;
    transition: border 300ms ease 0s;
}
.two-column__title {
    font-size: 24px;
    line-height: 1.4;
}
.two-column__title:not(:last-child) {
    margin-bottom: 4px;
}

/* ========= GAME ========= */
/* HEADER-GAME */
.header-game {
    padding: 20px;
    text-align: center;
    font-size: 28px;
}

/* GAME */
.blocks {
    width: 200px;
    height: 50px;
    display: inline-block;
}
.blocks:nth-child(3n + 1) {
    background-color: #40ddb6;
}
.blocks:nth-child(3n + 2) {
    background-color: #9140dd;
}
.blocks:nth-child(3n + 3) {
    background-color: #004777;
}
.game {
    width: 100%;
    height: 100%;
    font-size: 16px;
}
.game__container {
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: inset 1px 0px 12px 5px rgba(38, 38, 72, 1);
    background-color: #3f81a0;
}
.game__block-01 {
    width: 100px;
    height: 35px;
    border-radius: 15px 10px 10px 0;
    text-align: center;
    padding: 10px;
    color: #000;
    cursor: default;
}
.game__block-02 {
    width: 30px;
    height: 280px;
    visibility: hidden;
}

.game__block-01:hover ~ .game__block-02,
.game__block-02:hover {
	visibility: visible;
}
.game__block-03 {
    width: 100%;
    height: 20px;
    border-radius: 0 15px 0 15px;
    visibility: hidden;
}
.game__block-02:hover ~ .game__block-03,
.game__block-03:hover {
    visibility: visible;
}
.game__block-04 {
    width: 12px;
    height: 160px;
    visibility: hidden;
    align-self: flex-end;
}
.game__block-03:hover ~ .game__block-04,
.game__block-04:hover {
    visibility: visible;
}
.game__block-05 {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 10px;
    border-radius: 15px 0 15px 15px;
    font-size: 24px;
    visibility: hidden;
    align-self: flex-end;
}
.game__block-04:hover ~ .game__block-05,
.game__block-05:hover {
    visibility: visible;
}
.game__block-06 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.game__block-06 img {   
    width: 100%;
    height: 100%;
}
.game__block-05:hover ~ .game__block-06,
.game__block-06:hover {
    display: block;
}

/* FOOTER-GAME */
.footer-game {
    text-align: center;
    padding: 20px;
    font-size: 18px;
}
/* FOOTER */
.footer {
    padding: 30px 15px;
    text-align: center;
    background-color: #ffb731;
}
.footer__title {
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #181818;
}
.footer__item:not(:last-child) {
    margin-bottom: 5px;
}
.footer__link {
    color: #3146ff;
    transition: color 200ms ease-in-out 0s;
}
.footer__link:visited {
    color: #87a5ff;
}
.footer__link:hover {
    color: #1f2ca7;
    text-decoration: underline;
}