/* FONTS */
@import url("fonts.css");

/* NULL */
@import url("reset.css");

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Causten", sans-serif;
    font-size: 20px;
}

/* HEADER */
.header {
    background-color: #3146ff;
    text-align: center;
    padding: 15px;
}
.header__item {
    display: inline-block;
    background-color: #87a5ff;
    padding: 7px 15px 5px;
    border-radius: 15px;
}
.header__item:not(:last-child) {
    margin-right: 20px;
}

/* EXPERIMENTS */
.experiments__n1 {
    min-height: 734px;
    background-color: #3146ff;
    background-image: url("../img/experiments/team.jpg"), linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,65,255,1) 100%);
    background-repeat: no-repeat;
    background-position: 0 62px;
    background-size: cover;
    background-attachment: fixed;
}
.experiments__n2 {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/experiments/bg-scroll.jpg");
    background-size: 250px 250px;
    background-attachment: fixed;
    animation: moveSlideshow 10s linear infinite;  
}
@keyframes moveSlideshow {
    100% {
        background-position: 250px 250px;
    } 
}
.experiments__n3 {
    min-height: 734px;
    background: 
        url("../img/experiments/icon.png") 50% / 50px no-repeat,
        url("../img/experiments/computer.jpg") 0 0 / contain no-repeat,
        url("../img/experiments/team.jpg") 0 0 / 500px;
}

/* FASHION */
.fashion {
    color: #fff;
    max-width: 1270px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px; 
    padding: 50px 15px;
    display: flex;
}
.fashion__part-left {
    display: flex;
    align-items: center;
    max-width: 50%;
    width: 100%;
    min-height: 640px;    
    background-image: url("../img/fashion/background-01.jpg");
    background-position: center;
    background-size: cover;
	background-repeat: no-repeat; 
}
.fashion__text-wrap {
    max-width: 466px;
    margin: 0 auto;
}
.fashion__part-right {
    max-width: 50%;
    width: 100%;
    min-height: 640px;
    background:  url("../img/fashion/background-02.jpg") center / cover no-repeat;
}
.fashion__title {
    font-family: "Core Sans C", sans-serif;
    font-size: 34px;
    font-weight: 800;
    line-height: 1.47;
    text-transform: uppercase;
    max-width: 466px;
    margin-bottom: 30px;
}
.fashion__text {
    font-weight: 300;
    letter-spacing: 1px;
    max-width: 466px;
    margin-bottom: 50px;
}
.fashion__button {
    color: #3C4242;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 44px;
    border-radius: 8px;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
}

/* WOMEN */
.women {
    color: #807d7e;
    max-width: 1249px;
    padding: 50px 15px;
    margin: 0 auto;
}
.women__decor {
    width: 6px;
    height: 28px;
    border-radius: 10px;
    background-color: #8a33fd;
    display: inline-block;
    margin-left: -15px;
    margin-right: 5px;
}
.women__title {
    color: #3C4242;
    font-family: "Core Sans C", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    min-height: 28px;
    margin-bottom: 35px;
    padding-top: 2px;
    padding-left: 21px;
    background-image: url("../img/women/backgorund-decor.png");
    background-repeat: no-repeat;
}
.women__sub-title {
    color: #807d7e;
    font-family: "Core Sans C", sans-serif;
    font-weight: 600;
    line-height: 1.67;
    letter-spacing: 0.4px;
    margin-bottom: 25px;
}
.women__text {
    margin-bottom: 25px;
    line-height: 1.67;
}
.women__text--last {
    margin-bottom: 20px;
}
.women__text p:not(:last-child) {
    margin-bottom: 20px;
}
.women__text span {
    font-weight: 700;
}
.women__button {
    font-family: "Core Sans C", sans-serif;
    font-weight: 600;
    line-height: 1.67;
    letter-spacing: 0.4px;
    color: #807d7e;
    background-color: rgba(255, 255, 255, 0);
    font-size: inherit;
    cursor: pointer;
    text-transform: capitalize;
}

/* DISCOVER */
.discover {
    font-family: "Inter";
    color: #37393F;
    font-size: 20px;
    max-width: 1250px;
    margin: 0 auto;
    padding: 50px 15px;
    text-align: center;
}
.discover__label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 14px;
    display: inline-block;
    padding-left: 18px;
    background: url("../img/discover/label-decor.jpg") 0 2px / 12px no-repeat;
    text-transform: capitalize;
}
.discover__title {
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
    margin-bottom: 14px;
}
.discover__text {
    color: #7d7d7d;
    font-size: 18px;
    line-height: 1.46;
    max-width: 852px;
    margin: 0 auto 47px auto;
}
.discover__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 34px;
    row-gap: 58px;
}
.discover__item {
    min-height: 582px;
    text-align: start;
}
.discover__back-wrap {
    min-height: 501px;
    margin-bottom: 24px;
}
.discover__back-wrap--n1 {
    background: url("../img/discover/image-01.jpg") 100% no-repeat;
}
.discover__back-wrap--n2 {
    background: url("../img/discover/image-02.jpg") 100% no-repeat;
}
.discover__back-wrap--n3 {
    background: url("../img/discover/image-03.jpg") 100% no-repeat;
}
.discover__back-wrap--n4 {
    background: url("../img/discover/image-04.jpg") 100% no-repeat;
}
.discover__back-wrap--n5 {
    background: url("../img/discover/image-05.jpg") 100% no-repeat;
}
.discover__back-wrap--n6 {
    background: url("../img/discover/image-06.jpg") 100% no-repeat;
}
.discover__title-column {
    font-family: "Poppins";
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.discover__time {
    color: #7d7d7d;
    font-size: 14px;
    line-height: 1.46;
    background: url("../img/discover/calendar-icon.png") 0 0 / 22px no-repeat;  
    padding: 1px 0 0 25px;
}

/* BUSINESS */
.business {
    font-family: "Inter";
    color: #7d7d7d;
    font-size: 18px;
    max-width: 703px;
    margin: 0 auto;
    padding: 50px 15px;
}
.business__label {
    color: #37393f;
    font-weight: 500;
    text-transform: capitalize;
    background: url("../img/business/decor-label.jpg") 0 2px / 12px no-repeat; 
    margin-bottom: 16px;
    padding-left: 18px;
}
.business__title {
    color: #37393f;
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
    margin-bottom: 10px;
    max-width: 414px;
    text-transform: capitalize;
}
.business__text {
    line-height: 1.46;
    margin-bottom: 20px;
}
.business__text p:not(:last-child) {
    margin-bottom: 15px;
}
.business__list {
    margin-bottom: 43px;
}
.business__item {
    background: url("../img/business/arrow.png") 0 0 / 27px no-repeat;  
    padding-left: 35px;
    min-height: 28px;
}
.business__item:not(:last-child) {
    margin-bottom: 23px;
}
.business__item-title {
    color: #37393f;
    font-family: "Poppins";
    font-size: 20px;
    padding-top: 2px;
}
.business__list-column {
    display: flex;
    gap: 21px;
    margin-bottom: 37px;
}
.business__item-column {
    padding: 37px;
    border: 1px solid #e3e3e3;
}
.business__item-content-wrap {
    padding: 3px 0 0 58px;
}
.business__item-content-wrap-01 {
    background: url("../img/business/column-icon-01.png") 0 0 / 39px no-repeat;
}
.business__item-content-wrap-02 {
    background: url("../img/business/column-icon-02.png") 0 0 / 39px no-repeat;
}
.business__item-column-title {
    color: #37393F;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
    text-transform: capitalize;
}
.business__item-column-text {
    font-size: 16px;
    line-height: 1.35;
}
.business__button {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #6b77e5;
    padding: 21px 35px;
}

/* FOOTER */
.footer {
    padding: 30px 15px;
    text-align: center;
    background-color: #ffb731;
}
.footer__title {
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: 600;
}
.footer__item:not(:last-child) {
    margin-bottom: 5px;
}
.footer__link {
    color: #3146ff;
}