/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");

/* LOCAL FONTS */
@import url(fonts.css);

/* RESET STYLES */
@import url(reset.css);

/* PAGE STYLES */
body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #7d7d7d;
}
img {
    max-width: 1000px;
    width: 100%;
}

/* COMMON */
.title {
    color: #37393F;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: capitalize;
    text-align: center;
}
.text {
    font-weight: 400;
    line-height: 1.4;
}
.sub-title {
    color: #6B77E5;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

/* HEADER */
.header {
    text-align: center;
}
.header__list {
}
.header__item {
}
.header__link {
    text-decoration: underline;
    color: #6b77e5;
}

/* MAIN */
.page {
}

/* HERO */
.page__hero {
}
.hero {
    text-align: center;
}
.hero__title {
    text-shadow: 2px 2px 5px #000, 5px -2px 10px rgba(255, 67, 67, 0.63);
}
.hero__image-link {
}
.hero__image {
}
.hero__text {
    letter-spacing: 3px;
    white-space: normal;
}

/* INTRODUCTION */
.page__introduction {
}
.introduction {
}
.introduction__title {
    text-decoration: underline;
}
.introduction__title-link {
}
.introduction__image-link {
}
.introduction__image {
}
.introduction__text {
    word-spacing: 12px;
    font-weight: 600;
}

/* DEVELOPER */
.page__developer {
}
.developer {
    font-family: 'Andika';
}

/* DESIGN */
.page__design {
}
.design {
}
.design__title {
}
.design__title-link {
}
.design__image-link {
}
.design__text {
    font-weight: 600;
    text-align: center;
}

/* GAME */
.page__game {
}
.game {
    font-family: 'Andika';
    font-weight: 700;
}
.game__title {
}
.game__title-link {
}
.game__image-link {
}
.game__image {
}
.game__text {
    text-indent: 10px;
    font-style: oblique;
}

/* BUSINESS */
.page__business {
}
.business {
}
.business__title {
}
.business__title-link {
}
.business__text {
}
.business__sub-title {
}
.business__sub-title-link {
}

/* PROJECT */
.page__project {
}
.project {
}
.project__title {
}
.project__title-link {
}
.project__text {
}
.project__list {
}
.project__item {
    list-style: inside; 
}
.project__item--numbers {
    list-style: none;

}
.project__list {
}

/* FOOTER */
.footer {
}
.footer__list {
}
.footer__item {
}
.footer__link {
    text-decoration: underline;
    color: #6b77e5;
}