//====================================================================================================

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(40);
		height: rem(28);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(3);
			background-color: $mainSecondColorFiolet;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
				background-color: $mainSecondColorFiolet;
			}
			&::before {
				top: calc(50% - rem(2));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
.menu {
	display: none;
	@media (max-width: $mobile){
		display: block;
	}
	// .menu__body
	&__body {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@include adaptiveValue("padding-top", 182, 142);
		padding-left: rem(20);
		padding-right: rem(20);
		background-color: $mainSecondColorFiolet;
		color: #fff;
		overflow: auto;
		transition: right 0.5s ease 0s;
		&::after {
			content: "";
			position: fixed;
			top: 0;
			right: -100%;
			width: 100%;
			@include adaptiveValue("height", 130, 70);
			background-color: #efdbff;
			box-shadow: 0px 5px 5px -6px rgba(66, 68, 90, 1);
			transition: right 0.5s ease 0.06s, box-shadow 0.5s ease 0s;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		font-size: rem(32);
	}
	// .menu__link
	&__link {
		display: block;
		text-align: end;
		padding: rem(10) rem(0);
		@media (max-width: $mobileSmall){
			text-align: center;
		}
	}
}
.menu-open .menu__body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media (max-width: $mobileSmall){
		align-items: center;
	}
	gap: rem(40);
	right: 0;
	top: 0;
	&::after {
		right: 0;
	}
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #f9f9f9;
	box-shadow: 0px 5px 5px -6px rgba(66, 68, 90, 1);
	z-index: 5;
	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		@include adaptiveValue("gap", 105, 10);
		align-items: center;
		@include adaptiveValue("min-height", 130, 70);
		transition: min-height 0.5s ease 0s;
	}
	// .header__logo
	&__logo {
		z-index: 5;
	}
	// .header__nav
	&__nav {
		flex: 1 1 auto;
		@media (max-width: $mobile){
			display: none;
		}
	}
	// .header__nav-list
	&__nav-list {
		display: flex;
		@include adaptiveValue("column-gap", 55, 10);
		row-gap: rem(10);
		flex-wrap: wrap;
		padding: rem(15) rem(0) rem(15);
	}
	// .header__nav-item
	&__nav-item {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: rem(-7);
			left: 0;
			width: 0;
			height: rem(3);
			background-color: $mainSecondColorFiolet;
			transition: width 0.5s ease 0s;
		}
	}
	// .header__login-wrap
	&__login-wrap {
		display: flex;
		@include adaptiveValue("gap", 35, 15);
		z-index: 5;
		justify-content: center;
		@media (max-width: em(479.98)){
			flex-direction: column-reverse;
			width: 100%;
			padding-bottom: rem(20);
		}
	}
	// .header__login-button
	&__login-button {
		color: #606060;
		font-family: "Inter", sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		line-height: 1.5;
		text-transform: capitalize;
		transition: color 0.3s ease-in-out 0s;
		@media (max-width: $mobileSmall){
			color: #f9f9f9;
		}
	}
	// .header__signup-button
	&__signup-button {
		font-weight: 700;
		font-size: rem(18);
		@media (max-width: $mobileSmall){
			outline: #f9f9f9 rem(2) solid;
		}
	}
}
._header-scroll .header__container {
	min-height: rem(70);
}
._header-scroll .menu__body::after {
	height: rem(70);
}